body{
    font-family: 'Lato', sans-serif;
}
#wrapper{
    background-color: ghostwhite;
    min-height: 800px;
}
.btn:focus {
    outline: none;
}
.cdx-block:focus{
    border-bottom: solid 1px grey;
}
.myElement{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.router-link{
    margin: 0;
    padding: 0;
    border: 0;
}
#editor{
    border-style: solid;
    border-width: 1px;
    border-color: lightsteelblue;
    border-radius: 7px;
    background-color: white;
}